.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 22px;
}
.heading_div
{
  background:darkgoldenrod ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  padding: 10px;
  float: none;

}
.heading_div2
{
  font-size: 18px ;
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}
.result_para_tag span{
  white-space: pre-line;
}
.copy_right_footer{
position: fixed;
bottom: 0;
color: darkgoldenrod;
background-color:lightskyblue;
line-height: 3;
width: 100%;
text-align: center;
margin-left: -105px;

}
canvas{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  margin-top: 150px;
}
.image_div{
  width:100px;
  height: 100px;
}
.page_button{
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 30px;
}
#main_div{
display: none;
}